a {
    text-decoration: none;
    color : rgb(0, 0, 0);
    font-size: 20px;
  }
  body {
    background: url(back2.jpg);
    background-repeat: repeat;
  }

  .content{ 
    background:#fbff00b3;
    padding: 40px;
    width: 650px;
    
    
    margin: 0 auto;
    color : black;
    font-size:17px;
  }
  
  h2{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size:33pt;
    font-variant: inherit;
    color: rgb(0, 99, 99);
  }
  
  
  

  