body{
    font-family:Tahoma,Geneva,Verdana, sans-serif;
    color : #fff;
    background :url(back.jpg);
    background-size :cover;

}
.content{
    background:rgba(44,62,80,0.7);
    padding: 40px;
    width: 250px;
    height: :430px;
    margin-top:90px;
    margin-left:180px;
    margin: 0 auto;
    
    
    

}

