body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: url(back.jpg);
    background-size: cover;
}
.signin
{
    background :rgba(44,62,80,0.7);
    padding: 40px;
    width : 250 px;
    margin:0 auto 100px;
    margin-top:80px;
    height:400px;
    margin-left: 80px;
    margin-right: 950px;

}

form {

    width :240px;
    text-align: center;
}
h2
{
    color: white;
}
a
{
    color:sandybrown;
    text-decoration: blink;

}

a:hover
{
    color: skyblue;
}
.container
{
    display: flex;
    flex-direction: row;
    width: 100%;
}