a {
  text-decoration: none;
  color : rgb(37, 7, 7);
  font-size: 20px;
}
body {
  background: url(back2.jpg);
  background-repeat: repeat;
}

.kekiri{
	margin: 10px auto;
	width: 1150px;
}

.font-face {
        font-family: Arial, Helvetica, sans-serif;
        src: url(Wolf.ttf);
}

h2{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:33pt;
  font-variant: inherit;
  color: rgb(0, 99, 99);
}
h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:33pt;
  font-variant: inherit;
  color: maroon;
}